In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import seaborn
%matplotlib inline

In [2]:
df1 = pd.read_csv('./2009Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df2 = pd.read_csv('./2009Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df3 = pd.read_csv('./2010Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df4 = pd.read_csv('./2010Q2-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df5 = pd.read_csv('./2010Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df6 = pd.read_csv('./2010Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df7 = pd.read_csv('./2011Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df8 = pd.read_csv('./2011Q2-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df9 = pd.read_csv('./2011Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df10 = pd.read_csv('./2011Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df11 = pd.read_csv('./2012Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df12 = pd.read_csv('./2012Q2-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df13 = pd.read_csv('./2012Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df14 = pd.read_csv('./2012Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df15 = pd.read_csv('./2013Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df16 = pd.read_csv('./2013Q2-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df17 = pd.read_csv('./2013Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df18 = pd.read_csv('./2013Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df19 = pd.read_csv('./2014Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df20 = pd.read_csv('./2014Q2-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df21 = pd.read_csv('./2014Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df22 = pd.read_csv('./2014Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df23 = pd.read_csv('./2015Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df24 = pd.read_csv('./2015Q2-house-disburse-detail-updated.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df25 = pd.read_csv('./2015Q3-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df26 = pd.read_csv('./2015Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df27 = pd.read_csv('./2016Q1-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df28 = pd.read_csv('./2016Q2-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df29 = pd.read_csv('./2016Q3-house-disburse-detail.csv', thousands=',',  parse_dates=['START DATE','END DATE'])
df30 = pd.read_csv('./2016Q4-house-disburse-detail.csv', thousands=',', parse_dates=['START DATE','END DATE'])
df31 = pd.read_csv('./2017Q1-house-disburse-detail.csv', encoding='unicode_escape',parse_dates=['START DATE','END DATE'])
df32 = pd.read_csv('./2017Q2-house-disburse-detail.csv', encoding='unicode_escape',parse_dates=['START DATE','END DATE'])
df33 = pd.read_csv('./2017Q3-house-disburse-detail.csv', thousands=',',parse_dates=['START DATE','END DATE'])
df34 = pd.read_csv('./2017Q4-house-disburse-detail.csv', thousands=',',parse_dates=['START DATE','END DATE'])
df35 = pd.read_csv('./2018Q1-house-disburse-detail.csv', encoding='unicode_escape',parse_dates=['START DATE','END DATE'])

C:\Users\Yuan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
dfs = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,
        df26,df27,df28,df29,df30,df31,df32,df33,df34,df35]

In [19]:
dfs1=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,
        df26,df27,df28,df29,df30,df31,df32]

In [50]:
len(df1[(df1['CATEGORY'] == 'PERSONNEL COMPENSATION') & (df1['YEAR'] == '2016')]['PAYEE'].unique())

9775

In [10]:
df = pd.concat(dfs, ignore_index=True)

C:\Users\Yuan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [11]:
df.shape

(3542048, 17)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3542048 entries, 0 to 3542047
Data columns (total 17 columns):
AMOUNT           object
BIOGUIDE_ID      object
CATEGORY         object
DATE             object
END DATE         object
OFFICE           object
PAYEE            object
PROGRAM          object
PURPOSE          object
QUARTER          object
RECIP (orig.)    object
RECORDID         object
SORT SEQUENCE    object
START DATE       object
TRANSCODE        object
TRANSCODELONG    object
YEAR             object
dtypes: object(17)
memory usage: 459.4+ MB

In [29]:
df.head()

,AMOUNT,BIOGUIDE_ID,CATEGORY,DATE,END DATE,OFFICE,PAYEE,PROGRAM,PURPOSE,QUARTER,RECIP (orig.),RECORDID,SORT SEQUENCE,START DATE,TRANSCODE,TRANSCODELONG,YEAR
0,16799.2,NaN,OTHER SERVICES,NaN,2006-10-04 00:00:00,COMMUNICATIONS,07Â­01 P2 OPR0900726A STR...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,07Â­01 P2 OPR0900726A STR...,NaN,NaN,2006-10-04 00:00:00,NaN,NaN,FISCAL YEAR 2009
1,3876.75,NaN,OTHER SERVICES,NaN,2006-10-04 00:00:00,COMMUNICATIONS,07Â­22 P2 OPR0900726B ...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,07Â­22 P2 OPR0900726B ...,NaN,NaN,2006-10-04 00:00:00,NaN,NaN,FISCAL YEAR 2009
2,2132,NaN,OTHER SERVICES,NaN,2006-07-18 00:00:00,COMMUNICATIONS,08Â­06 P2 FSS0000575A THE...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,08Â­06 P2 FSS0000575A THE...,NaN,NaN,2006-07-18 00:00:00,NaN,NaN,FISCAL YEAR 2009
3,888,NaN,OTHER SERVICES,NaN,2009-05-29 00:00:00,COMMUNICATIONS,08Â­25 P2 MFP0003163 AVAYA,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,08Â­25 P2 MFP0003163 AVAYA,NaN,NaN,2009-05-29 00:00:00,NaN,NaN,FISCAL YEAR 2009
4,590.18,NaN,OTHER SERVICES,NaN,2006-10-04 00:00:00,COMMUNICATIONS,09Â­10 P2 OPR0900726C STR...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,09Â­10 P2 OPR0900726C STR...,NaN,NaN,2006-10-04 00:00:00,NaN,NaN,FISCAL YEAR 2009

In [20]:
dff = pd.concat(dfs1, ignore_index=True)

C:\Users\Yuan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [13]:
#total of all the payments
df1 = df[df['AMOUNT'] != '#VALUE!']
df1.AMOUNT.astype('float').values.sum()

12699262210.909994

In [18]:
#total of all the payments
ans = 0
for i in df['AMOUNT'].values:
    if i != '#VALUE!':
        ans += float(i)
print(ans)

12699262210.906502

In [ ]:
# start date between [1/1/10, 12/31/16]
data = df[(df['START DATE'] >= pd.Timestamp(2010, 1, 1, 0) & (df['START DATE'] <= pd.Timestamp(2016, 12, 31, 0))]
aver_expenditure = data[data['AMOUNT'] > 0]['AMOUNT'].sum() / 6
print('the average annual expenditure is %f.' % (aver_expenditure))

In [ ]:
#coverage period
df['Coverage_Period'] = df['END DATE'] - df['START DATE']
print('the standard deviation is %f.' % (df['Coverage_Period'].std()))

In [ ]:
#Find the 'OFFICE' with the highest total expenditures with a 'START DATE' in 2016.
df['year'] = df['START DATE'].dt.year
offices = df['OFFICE'].values
expenditures = 0
office_name = ''
for office in offices:
    exp = df[(df['OFFICE'] == office) & (df['year'] = '2016')]['AMOUNT'].sum()
    if exp > expenditures:
        expenditures = exp
        office_name = office
print(office_name)

purpose = df['PURPOSE'].values
sum = 0
purpose_name = ' '
for p in purpose:
    sum1 = df[(df['OFFICE'] == office_name) & (df['year'] = '2016') & df['PURPOSE'] == p]['AMOUNT'].sum()
    if sum < sum1:
        sum = sum1
        purpose_name = p
print(purpose_name)

In [52]:
#What was the highest average staff salary among all representatives in 2016
num1 = len(df1[(df1['CATEGORY'] == 'PERSONNEL COMPENSATION') & (df1['YEAR'] == '2016')]['PAYEE'].unique())
num2 = len(df1[(df1['CATEGORY'] == 'PERSONNEL COMPENSATION') & (df1['YEAR'] == 'FISCAL YEAR 2016')]['PAYEE'].unique())
print('the number of unique payees in the PERSONNEL COMPENSATION ', num1 + num2)

the number of unique payees in the PERSONNEL COMPENSATION  11267

In [56]:
max1 = df1[(df1['CATEGORY'] == 'PERSONNEL COMPENSATION') & (df1['YEAR'] == '2016')]['AMOUNT'].max()
max2 = df1[(df1['CATEGORY'] == 'PERSONNEL COMPENSATION') & (df1['YEAR'] == 'FISCAL YEAR 2016')]['AMOUNT'].max()
res = max(max1, max2)
print(res)

46580.84

In [ ]:
#What percentage of the expenditures of the top 20 spenders in 2016 come from members of the Democratic Party?
#Representatives are identified by their 'BIOGUIDE_ID'