In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
df = pd.read_csv('./NYPD_Motor_Vehicle_Collisions.csv')

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1486791 entries, 0 to 1486790
Data columns (total 29 columns):
DATE                             1486791 non-null object
TIME                             1486791 non-null object
BOROUGH                          1041808 non-null object
ZIP CODE                         1041633 non-null object
LATITUDE                         1300317 non-null float64
LONGITUDE                        1300317 non-null float64
LOCATION                         1300317 non-null object
ON STREET NAME                   1201198 non-null object
CROSS STREET NAME                1010379 non-null object
OFF STREET NAME                  193440 non-null object
NUMBER OF PERSONS INJURED        1486774 non-null float64
NUMBER OF PERSONS KILLED         1486760 non-null float64
NUMBER OF PEDESTRIANS INJURED    1486791 non-null int64
NUMBER OF PEDESTRIANS KILLED     1486791 non-null int64
NUMBER OF CYCLIST INJURED        1486791 non-null int64
NUMBER OF CYCLIST KILLED         1486791 non-null int64
NUMBER OF MOTORIST INJURED       1486791 non-null int64
NUMBER OF MOTORIST KILLED        1486791 non-null int64
CONTRIBUTING FACTOR VEHICLE 1    1482939 non-null object
CONTRIBUTING FACTOR VEHICLE 2    1288897 non-null object
CONTRIBUTING FACTOR VEHICLE 3    95725 non-null object
CONTRIBUTING FACTOR VEHICLE 4    19885 non-null object
CONTRIBUTING FACTOR VEHICLE 5    5063 non-null object
UNIQUE KEY                       1486791 non-null int64
VEHICLE TYPE CODE 1              1482112 non-null object
VEHICLE TYPE CODE 2              1246307 non-null object
VEHICLE TYPE CODE 3              125199 non-null object
VEHICLE TYPE CODE 4              47751 non-null object
VEHICLE TYPE CODE 5              10180 non-null object
dtypes: float64(4), int64(7), object(18)
memory usage: 329.0+ MB

In [4]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/29/2019,0:00,BRONX,10453,40.848440,-73.91068,"(40.84844, -73.91068)",TOWNSEND AVENUE,EAST 176 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4122943,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,04/29/2019,0:00,QUEENS,11365,40.736595,-73.80013,"(40.736595, -73.80013)",169 STREET,65 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4122788,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,04/29/2019,0:00,QUEENS,11374,40.730503,-73.86980,"(40.730503, -73.8698)",ELIOT AVENUE,WETHEROLE STREET,NaN,...,NaN,NaN,NaN,NaN,4122525,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,04/29/2019,0:00,QUEENS,11413,40.670630,-73.75643,"(40.67063, -73.75643)",141 ROAD,SPRINGFIELD BOULEVARD,NaN,...,Unsafe Speed,Unspecified,Unspecified,NaN,4122775,Pick-up Truck,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN
4,04/29/2019,0:00,NaN,NaN,40.669796,-73.87057,"(40.669796, -73.87057)",EUCLID AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4122913,Pick-up Truck,NaN,NaN,NaN,NaN

In [5]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['year'] = df['DATE'].dt.year

AttributeError: 'Series' object has no attribute 'year'

In [6]:
df['year'] = df['DATE'].dt.year

In [9]:
df.tail()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,year
1486786,2012-07-01,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2896726,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,2012
1486787,2012-07-01,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,NaN,NaN,NaN,37635,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012
1486788,2012-07-01,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,NaN,NaN,NaN,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012
1486789,2012-07-01,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,NaN,NaN,NaN,44907,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN,2012
1486790,2012-07-01,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,NaN,NaN,NaN,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012

In [16]:
df['NUMBER OF PERSONS INJURED'].sum()

385743.0

# What is the total number of persons injured in the dataset (up to December 31, 2018?)

In [14]:
df_train = df[(df['year'] != 2019)]

In [15]:
df_train['NUMBER OF PERSONS INJURED'].sum()

368034.0

# What proportion of collisions in 2016 resulted in injury or death of a cyclist?

In [21]:
df[df['year'] == 2016]['NUMBER OF CYCLIST INJURED'].value_counts()

0    224832
1      4910
2        44
3         2
Name: NUMBER OF CYCLIST INJURED, dtype: int64

In [25]:
df[df['year'] == 2016]['NUMBER OF CYCLIST KILLED'].value_counts()

0    229768
1        20
Name: NUMBER OF CYCLIST KILLED, dtype: int64

In [26]:
df[df['year'] == 2016].shape

(229788, 30)

In [27]:
Propotion_of_collision_2016 = (4910 + 44 + 2 + 20) / 229788

In [29]:
print(round(Propotion_of_collision_2016,10))

0.0216547426

# What proportion of all collisions in 2016 occured in Brooklyn? Only consider entries with a non-null value for BOROUGH.

In [34]:
df[(df['year'] == 2016)]['BOROUGH'].apply(lambda x: 0 if pd.isna(x) else 1).value_counts()

1    153289
0     76499
Name: BOROUGH, dtype: int64

In [36]:
Ratio = 153289 / 229788
print(round(Ratio,10))

0.6670887949

# For each borough, compute the number of accidents per capita involving alcohol in 2017. Report the highest rate among the 5 boroughs.

In [37]:
df[df['year'] == 2017]['BOROUGH'].value_counts()

BROOKLYN         44912
QUEENS           38624
MANHATTAN        31774
BRONX            21396
STATEN ISLAND     6240
Name: BOROUGH, dtype: int64

In [64]:
df_brooklyn = df[(df['year'] == 2017) & (df['BOROUGH'] == 'BROOKLYN')]
df_queens = df[(df['year'] == 2017) & (df['BOROUGH'] == 'QUEENS')]
df_manhattan = df[(df['year'] == 2017) & (df['BOROUGH'] == 'MANHATTAN')]
df_bronx = df[(df['year'] == 2017) & (df['BOROUGH'] == 'BRONX')]
df_staten = df[(df['year'] == 2017) & (df['BOROUGH'] == 'STATEN ISLAND')]

In [92]:
df_staten['CONTRIBUTING FACTOR VEHICLE 2'].value_counts()

Unspecified                                              4800
Driver Inattention/Distraction                            184
Following Too Closely                                      47
Backing Unsafely                                           40
Failure to Yield Right-of-Way                              38
Unsafe Speed                                               25
Passing or Lane Usage Improper                             25
Turning Improperly                                         24
Unsafe Lane Changing                                       21
Traffic Control Disregarded                                17
Passing Too Closely                                        15
Pavement Slippery                                          15
View Obstructed/Limited                                    13
Reaction to Uninvolved Vehicle                             13
Other Vehicular                                            11
Driver Inexperience                                         9
Failure to Keep Right                                       6
Alcohol Involvement                                         4
Glare                                                       3
Aggressive Driving/Road Rage                                3
Lane Marking Improper/Inadequate                            2
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion       2
Obstruction/Debris                                          2
Oversized Vehicle                                           2
Pavement Defective                                          2
Drugs (illegal)                                             1
Brakes Defective                                            1
Fatigued/Drowsy                                             1
Traffic Control Device Improper/Non-Working                 1
Outside Car Distraction                                     1
Passenger Distraction                                       1
Animals Action                                              1
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [83]:
df_brooklyn[(df_brooklyn['CONTRIBUTING FACTOR VEHICLE 3'] =='Alcohol Involvement') & 
            (df_brooklyn['CONTRIBUTING FACTOR VEHICLE 2'] == 'Alcohol Involvement')]

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,year
325075,2017-11-19,2:22,BROOKLYN,11222,40.729256,-73.94605,"(40.729256, -73.94605)",HUMBOLDT STREET,MESEROLE AVENUE,NaN,...,Alcohol Involvement,Alcohol Involvement,NaN,3793034,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,2017

In [111]:
df_queens[(df_queens['CONTRIBUTING FACTOR VEHICLE 2'] =='Alcohol Involvement') & 
            (df_queens['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement')]

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,year
406679,2017-07-16,5:10,QUEENS,11377,40.744670,-73.895100,"(40.74467, -73.8951)",70 STREET,41 AVENUE,NaN,...,NaN,NaN,NaN,3711832,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2017
476862,2017-03-31,21:40,QUEENS,11691,40.595270,-73.781845,"(40.59527, -73.781845)",BEACH CHANNEL DRIVE,BEACH 51 STREET,NaN,...,Alcohol Involvement,Unspecified,Unspecified,3643401,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,2017
500490,2017-02-19,12:35,QUEENS,11691,40.599884,-73.760720,"(40.599884, -73.76072)",BROOKHAVEN AVENUE,AZTEC PLACE,NaN,...,Unspecified,NaN,NaN,3620015,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,2017

In [104]:
df_brooklyn[df_brooklyn['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].count()

DATE                             565
TIME                             565
BOROUGH                          565
ZIP CODE                         565
LATITUDE                         552
LONGITUDE                        552
LOCATION                         552
ON STREET NAME                   367
CROSS STREET NAME                367
OFF STREET NAME                  198
NUMBER OF PERSONS INJURED        565
NUMBER OF PERSONS KILLED         565
NUMBER OF PEDESTRIANS INJURED    565
NUMBER OF PEDESTRIANS KILLED     565
NUMBER OF CYCLIST INJURED        565
NUMBER OF CYCLIST KILLED         565
NUMBER OF MOTORIST INJURED       565
NUMBER OF MOTORIST KILLED        565
CONTRIBUTING FACTOR VEHICLE 1    565
CONTRIBUTING FACTOR VEHICLE 2    501
CONTRIBUTING FACTOR VEHICLE 3    126
CONTRIBUTING FACTOR VEHICLE 4     54
CONTRIBUTING FACTOR VEHICLE 5     20
UNIQUE KEY                       565
VEHICLE TYPE CODE 1              564
VEHICLE TYPE CODE 2              471
VEHICLE TYPE CODE 3              132
VEHICLE TYPE CODE 4               62
VEHICLE TYPE CODE 5               21
year                             565
dtype: int64

In [105]:
ratio_1 = round(df_brooklyn[df_brooklyn['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].shape[0]/ 2648771, 10)
ratio_2 = round(df_queens[df_queens['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].shape[0]/ 2358582, 10)
ratio_3 = round(df_manhattan[df_manhattan['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].shape[0]/ 1664727, 10)
ratio_4 = round(df_bronx[df_bronx['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].shape[0] / 1471160, 10)
ratio_5 = round(df_staten[df_staten['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].shape[0] / 479458, 10)

In [106]:
print(ratio_1, ratio_2, ratio_3, ratio_4, ratio_5)

0.0002133065 0.0002102958 0.0001471713 0.0001794502 0.0002023118

# Obtain the number of vehicles involved in each collision in 2016. Group the collisions by zip code and compute the sum of all vehicles involved in collisions in each zip code, then report the maximum of these values.

In [131]:
df_2016 = df[df['year'] == 2016]
df_2016['VEHICLE TYPE CODE 1'] = df_2016['VEHICLE TYPE CODE 1'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2016['VEHICLE TYPE CODE 2'] = df_2016['VEHICLE TYPE CODE 2'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2016['VEHICLE TYPE CODE 3'] = df_2016['VEHICLE TYPE CODE 3'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2016['VEHICLE TYPE CODE 4'] = df_2016['VEHICLE TYPE CODE 4'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2016['VEHICLE TYPE CODE 5'] = df_2016['VEHICLE TYPE CODE 5'].apply(lambda x: 0 if pd.isna(x) else 1)

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [116]:
cols = ['VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5']

In [118]:
cols

['VEHICLE TYPE CODE 1',
 'VEHICLE TYPE CODE 2',
 'VEHICLE TYPE CODE 3',
 'VEHICLE TYPE CODE 4',
 'VEHICLE TYPE CODE 5']

In [157]:
df_2016['Num_of_Vehicles']= np.sum([df_2016[col] for col in cols], axis=0)

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [162]:
res = df_2016.groupby(['ZIP CODE']).sum().reset_index()

In [163]:
res['Num_of_Vehicles'].max()

5703

# Compute the rate of multi car collisions as the proportion of the number of collisions involving 3 or more cars to the total number of collisions for each month of 2017. Calculate the chi-square test statistic for testing whether a collision is more likely to involve 3 or more cars in January than in May.

In [164]:
df_2017 = df[df['year'] == 2017]
df_2017['VEHICLE TYPE CODE 1'] = df_2017['VEHICLE TYPE CODE 1'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2017['VEHICLE TYPE CODE 2'] = df_2017['VEHICLE TYPE CODE 2'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2017['VEHICLE TYPE CODE 3'] = df_2017['VEHICLE TYPE CODE 3'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2017['VEHICLE TYPE CODE 4'] = df_2017['VEHICLE TYPE CODE 4'].apply(lambda x: 0 if pd.isna(x) else 1)
df_2017['VEHICLE TYPE CODE 5'] = df_2017['VEHICLE TYPE CODE 5'].apply(lambda x: 0 if pd.isna(x) else 1)

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [165]:
df_2017['Num_of_Vehicles']= np.sum([df_2017[col] for col in cols], axis=0)

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [167]:
df_new = df_2017[df_2017['Num_of_Vehicles'] >= 3]

In [168]:
df_new.shape

(18220, 31)

In [170]:
df_new.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,year,Num_of_Vehicles
298031,2017-12-31,0:20,NaN,NaN,40.856380,-73.82631,"(40.85638, -73.82631)",BRUCKNER EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,3818931,1,1,1,1,0,2017,4
298061,2017-12-31,10:50,NaN,NaN,40.785150,-73.94063,"(40.78515, -73.94063)",FDR DRIVE,NaN,NaN,...,NaN,NaN,3819295,1,1,1,0,0,2017,3
298072,2017-12-31,11:10,NaN,NaN,40.722305,-73.84414,"(40.722305, -73.84414)",108 STREET,NaN,NaN,...,NaN,NaN,3820721,1,1,1,0,0,2017,3
298114,2017-12-31,13:00,BROOKLYN,11228,40.620472,-74.01085,"(40.620472, -74.01085)",77 STREET,12 AVENUE,NaN,...,NaN,NaN,3820644,1,1,1,0,0,2017,3
298164,2017-12-31,15:00,QUEENS,11375,40.710400,-73.83974,"(40.7104, -73.83974)",UNION TURNPIKE,GREENWAY SOUTH,NaN,...,NaN,NaN,3820722,1,1,1,0,0,2017,3

In [173]:
df_new['month'] = df_new['DATE'].dt.month

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
df_new.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,year,Num_of_Vehicles,month
298031,2017-12-31,0:20,NaN,NaN,40.856380,-73.82631,"(40.85638, -73.82631)",BRUCKNER EXPRESSWAY,NaN,NaN,...,NaN,3818931,1,1,1,1,0,2017,4,12
298061,2017-12-31,10:50,NaN,NaN,40.785150,-73.94063,"(40.78515, -73.94063)",FDR DRIVE,NaN,NaN,...,NaN,3819295,1,1,1,0,0,2017,3,12
298072,2017-12-31,11:10,NaN,NaN,40.722305,-73.84414,"(40.722305, -73.84414)",108 STREET,NaN,NaN,...,NaN,3820721,1,1,1,0,0,2017,3,12
298114,2017-12-31,13:00,BROOKLYN,11228,40.620472,-74.01085,"(40.620472, -74.01085)",77 STREET,12 AVENUE,NaN,...,NaN,3820644,1,1,1,0,0,2017,3,12
298164,2017-12-31,15:00,QUEENS,11375,40.710400,-73.83974,"(40.7104, -73.83974)",UNION TURNPIKE,GREENWAY SOUTH,NaN,...,NaN,3820722,1,1,1,0,0,2017,3,12

In [175]:
df_2017['month'] = df_2017['DATE'].dt.month

/Users/zhouy2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [176]:
df_2017['month'].value_counts()

6     21369
5     21012
10    20358
12    19715
11    19661
9     19604
7     19593
3     19336
8     19134
4     17829
1     17551
2     15835
Name: month, dtype: int64

In [178]:
df_2017[df_2017['month'] == 1].shape[0]

17551

In [179]:
ratio_Jan = df_new[df_new['month'] == 1].shape[0]/df_2017[df_2017['month'] == 1].shape[0]
ratio_May = df_new[df_new['month'] == 5].shape[0]/df_2017[df_2017['month'] == 5].shape[0]
print(ratio_Jan, ratio_May)

0.3539399464417982 0.05406434418427565

In [180]:
from scipy.stats import chisquare

In [182]:
chisquare([0.3539399464417982,0.05406434418427565], axis=None)

Power_divergenceResult(statistic=0.220403017554848, pvalue=0.6387330106696103)

# Consider the total number of collisions each year from 2013-2018. Is there an apparent trend? Fit a linear regression for the number of collisions per year and report its slope.

In [183]:
df_2013 = df[df['year'] == 2013]
df_2014 = df[df['year'] == 2014]
df_2015 = df[df['year'] == 2015]
df_2016 = df[df['year'] == 2016]
df_2017 = df[df['year'] == 2017]
df_2018 = df[df['year'] == 2018]

In [186]:
df_2013.shape, df_2014.shape, df_2015.shape, df_2016.shape, df_2017.shape, df_2018.shape

((203729, 31),
 (206030, 31),
 (217692, 31),
 (229788, 31),
 (230997, 31),
 (231466, 31))

In [221]:
X_train = pd.Series(np.array([2013, 2014, 2015, 2016, 2017, 2018]))
y = pd.Series(np.array([203729, 206030, 217692, 229788, 230997, 231466]))

In [217]:
X_train.values
y.values

array([203729, 206030, 217692, 229788, 230997, 231466])

In [187]:
from sklearn.linear_model import LinearRegression

In [188]:
lr = LinearRegression()

In [222]:
model = lr.fit(X_train.values.reshape(-1,1), y)

In [224]:
model.coef_

array([6448.05714286])

# For collisions in 2017, estimate the number of collisions per square kilometer of each zip code region.#

In [225]:
df_2017.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,year,month
297303,2017-12-31,12:47,NaN,NaN,40.830738,-73.91050,"(40.830738, -73.9105)",WEBSTER AVENUE,NaN,NaN,...,NaN,NaN,3820621,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,2017,NaN
297328,2017-12-15,18:15,MANHATTAN,10036,NaN,NaN,NaN,NaN,NaN,141 WEST 43 STREET,...,NaN,NaN,3811434,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,2017,NaN
297475,2017-11-23,20:25,NaN,NaN,40.728275,-73.89130,"(40.728275, -73.8913)",GRAND AVENUE,NaN,NaN,...,NaN,NaN,3796043,BU,NaN,NaN,NaN,NaN,2017,NaN
297500,2017-12-31,7:00,NaN,NaN,NaN,NaN,NaN,OCEAN PARKWAY,NaN,NaN,...,NaN,NaN,3819129,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2017,NaN
298018,2017-12-31,0:00,BRONX,10471,40.910130,-73.90322,"(40.91013, -73.90322)",RIVERDALE AVENUE,WEST 261 STREET,NaN,...,NaN,NaN,3820806,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,2017,NaN

In [267]:
zip_code = df_2017.groupby('ZIP CODE').filter(lambda x: len(x) >= 1000)['ZIP CODE'].unique()

In [282]:
collisions = df_2017.groupby('ZIP CODE').filter(lambda x: len(x) >= 1000)

In [290]:
collisions_number = [collisions[collisions['ZIP CODE'] == code].shape[0] for code in zip_code]
len(collisions_number)

56

In [254]:
df_2017[df_2017['ZIP CODE'] == i].describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,UNIQUE KEY,year,month
count,2356.000000,2356.000000,2399.000000,2399.0,2400.000000,2400.0,2400.000000,2400.0,2400.000000,2400.0,2.400000e+03,2400.0,206.000000
mean,40.652928,-73.863265,0.310546,0.0,0.058333,0.0,0.016250,0.0,0.235417,0.0,3.709396e+06,2017.0,5.199029
std,0.837960,1.522412,0.720151,0.0,0.285712,0.0,0.126462,0.0,0.667843,0.0,6.939328e+04,0.0,3.861530
min,0.000000,-73.991295,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.590578e+06,2017.0,1.000000
25%,40.661032,-73.898415,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.649858e+06,2017.0,1.000000
50%,40.671042,-73.894267,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.707775e+06,2017.0,5.000000
75%,40.677628,-73.889430,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.768636e+06,2017.0,8.000000
max,40.769493,0.000000,8.000000,0.0,7.000000,0.0,1.000000,0.0,8.000000,0.0,4.025321e+06,2017.0,12.000000

In [289]:
len(zip_code)

56

In [276]:
import math
S = []
for code in zip_code:
    s = math.pi * np.std(df_2017[df_2017['ZIP CODE'] == code]['LATITUDE']) * np.std(df_2017[df_2017['ZIP CODE'] == code]['LONGITUDE'])
    S.append(s)

In [299]:
np.array(S)

array([5.77696472e+00, 1.54222337e+01, 6.94980943e-05, 1.35452115e-04,
       6.05091997e+00, 1.76032125e+01, 1.94804211e-04, 2.80183665e-04,
       3.00791540e-04, 1.55208778e-04, 2.01798483e+01, 3.60621234e-04,
       2.27376647e-04, 9.64496560e+00, 2.14068471e+01, 6.78297176e-05,
       5.05468767e+00, 1.53514877e-04, 1.12607036e-04, 2.79519724e+01,
       1.03320174e-04, 2.21086188e-04, 1.63805538e+01, 1.62307272e-04,
       8.19667170e+00, 1.35780222e-04, 2.87679642e-05, 8.64307373e+00,
       9.81581391e-05, 3.31075100e-04, 2.18260329e-04, 8.87231061e+00,
       6.03180064e+00, 1.85772431e-04, 4.09254152e-04, 6.77205645e+00,
       6.27772219e+00, 9.54431471e+00, 4.00609205e+00, 5.71341901e+00,
       1.51621662e-04, 1.22615011e-04, 1.03326680e-04, 7.97417364e-05,
       2.54812272e-04, 7.89927505e+00, 1.26433711e+01, 1.44506533e-04,
       1.17026569e-04, 5.64406843e-05, 9.04095095e-05, 8.28398140e+00,
       5.71096407e-05, 2.99585859e-04, 1.03213797e+01, 1.84037873e-04])

In [294]:
res = np.array(collisions_number)/np.array(S)

In [298]:
res

array([3.20756676e+02, 8.07276055e+01, 2.10797147e+07, 1.03062252e+07,
       2.59629942e+02, 9.37328912e+01, 8.95257854e+06, 6.84550971e+06,
       5.95428981e+06, 8.05366819e+06, 9.32613552e+01, 3.17784948e+06,
       4.79380805e+06, 1.04303120e+02, 6.38113588e+01, 1.61581094e+07,
       3.72525490e+02, 7.41947636e+06, 1.24148548e+07, 4.13924278e+01,
       1.44792632e+07, 4.81260277e+06, 7.14261565e+01, 6.49385568e+06,
       1.41154854e+02, 8.95564892e+06, 5.04380494e+07, 1.27269538e+02,
       1.88369504e+07, 3.52488000e+06, 8.87930484e+06, 1.25671885e+02,
       2.68079152e+02, 7.33693363e+06, 3.79470799e+06, 2.14705830e+02,
       2.41170277e+02, 1.06555581e+02, 5.99087582e+02, 3.20823660e+02,
       7.53850068e+06, 1.00966430e+07, 9.87160333e+06, 1.28916179e+07,
       5.38828050e+06, 1.55710491e+02, 1.23701186e+02, 8.88541143e+06,
       9.45939036e+06, 1.83201181e+07, 1.34388518e+07, 1.44616452e+02,
       2.02592765e+07, 3.73515628e+06, 1.85537210e+02, 6.15090787e+06])

Based upon the Array S, we could drop any zipcode with very small areas, therefore the largest collisions number per square kilometer is 599.087582000